DB_URL=jdbc:postgresql://localhost:5434/stevil_db
DB_NAME=stevil_db
DB_USERNAME=stevil_user
DB_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# 로그인 성공 후 이동할 프론트 주소
FRONTEND_URL=http://localhost:3000